<div>
  <h4 class="comment_header">Comment by <%= comment.author_name %></h4>
  <p class="comment" style="white-space: pre-line;"><%= comment.body %></p>
  <p class= "time">Posted <%= distance_of_time_in_words(comment.article.created_at, comment.created_at) %> later</p>
</div>
